html,
body {
    margin: 0;
    padding: 0;
    min-width: 100%;
    min-height: 100vh;
    background: #000;
    color: #f7f7f7;
    overflow: hidden;
    font-family: "Audiowide", cursive;
}

.x {
    color: cadetblue;
}
